[flake8]
max-line-length = 88
select = C,E,F,W,B,B9
ignore = E203, E501, W503
extend-ignore = E203
exclude =
    __init__.py
    .venv,
    .git,
    __pycache__,
    docs/,
    old,
    build,
    dist
max-complexity = 10
